.hm div {display:none;position:relative}
.hm:hover div {display:block;position:absolute;top:75%;margin-left:6%}

.hm {
}

.hm div {
  width:150px;
  font-weight: bold;
  color:#000000;
  background:#ffcd2a;
  border-radius:5px;
  padding:5px;
}